<div class="container">
  <h1 class="text-center">Edit <%= @restaurant.name %></h1>
  <%= form_with model: @restaurant, url: restaurant_path(@restaurant), method: :patch do |form| %>
    <table class="table table-bordered">
      <tr>
        <th><%= form.label :user_id %></th>
        <td><%= form.collection_select :user_id, User.all, :id, :name, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :address_id %></th>
        <td><%= form.collection_select :address_id, Address.all, :id, :full_address, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :phone %></th>
        <td><%= form.text_field :phone, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :email %></th>
        <td><%= form.text_field :email, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :price_range %></th>
        <td><%= form.number_field :price_range, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :active %></th>
        <td><%= form.check_box :active %></td>
      </tr>
    </table>

    <div class="buttons d-flex justify-content-start">
      <%= form.button type: :submit, class: "btn btn-primary me-3" do %>
        <i class="fas fa-sync-alt me-2"></i>Update Restaurant
      <% end %>
      <%= link_to restaurant_path(@restaurant), class: "btn btn-secondary me-3" do %>
        <i class="fa fa-eye me-2"></i>Show
      <% end %>
      <%= link_to restaurants_path, class: "btn btn-secondary" do %>
        <i class="fa-solid fa-reply me-2"></i>Back
      <% end %>
    </div>
  <% end %>
</div>
