<div class="container">
  <h1 class="text-center">New Order</h1>
  <%= form_with model: @order, url: orders_path do |form| %>
    <table class="table table-bordered">
      <tr>
        <th><%= form.label :restaurant_id %></th>
        <td><%= form.collection_select :restaurant_id, Restaurant.all, :id, :name, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :customer_id %></th>
        <td><%= form.collection_select :customer_id, Customer.all, :id, :email, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :order_status_id %></th>
        <td><%= form.collection_select :order_status_id, OrderStatus.all, :id, :name, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :restaurant_rating %></th>
        <td><%= form.number_field :restaurant_rating, class: "form-control" %></td>
      </tr>
    </table>

    <div class="buttons">
      <%= form.button type: :submit, class: "btn btn-primary" do %>
        <i class="fa-solid fa-pen-to-square"></i>Create Order
      <% end %>
      |
      <%= link_to orders_path, class: "btn btn-secondary" do %>
        <i class="fa-solid fa-reply"></i>Back
      <% end %>
    </div>
  <% end %>
</div>
